/* 01.html */
body {
    font-family: 'Apple SD Gothic Neo', 'Roboto', 'Noto Sans KR', NanumGothic, 'Malgun Gothic', sans-serif;
    -webkit-overflow-scrolling: touch;
}
.start-frame { 
    display: flex;
    height: 100vh;
    background: url(../images/letter.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}
.start-letter {
    text-align: center;
    width: 600px;
    margin-left: -13vw;
    margin-top: 10vw;
}
.start-letter h2 {
    margin-bottom: 15px;
}
.start-letter h5 {
    margin-bottom: 35px;
}
.start-letter p {
    line-height: 35px;
}
#letter-content {
    font-weight: 200;
    margin: 20px 0;
}
#name-input {
    background: transparent;
    border: none;
    height: 25px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
} 
input { margin: 20px 0;}
a {
    background: transparent;
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 1.3rem;
    color: black;
}
/* 02.html */
/* .world {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 300vw;
    perspective: 1000px;
}
.stage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 300vw;
    transform-style: preserve-3d;
}
.house {
    width: 100vw;
    height: 300vw;
    transform-style: preserve-3d;
}
.wall {
    position: absolute;
    left: 0;
    top: 0;
    width: 95vw;
    height: 30vw;
}
.wall-back {
    height: 300vw;
    transform: translate3d(0, 0, -5vw);
    background-image: url(./abd.jpg);
    background-size: cover;
    padding: 0 100px;
}
.wall-left {
    width: 30vw;
    height: 300vw;
    background: url(./abd.jpg);
    background-size: cover;
    transform: rotateY(-90deg) translate3d(0px, 0px, 10vw);
}
.wall-right {
    width: 30vw;
    height: 300vw;
    background: url(./abd.jpg);
    background-size: cover;
    transform: rotateY(-90deg) translate3d(0, 0, -80vw);
}
.wall-front-a { background: transparent; transform: translateY(60vw);}
.wall-front-b { background: transparent; transform: translateY(90vw); }
.wall-front-c { background: transparent; transform: translateY(150vw); }
.wall-front-d { background-color: black; transform: rotateX(90deg) translateZ(-285vw); text-align: center; }
.wall-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vw;
    color: ivory;
}
.wall-title {
    font-size: 3rem;
}
#start-screen, #screen {
    height: 80vh;
    width: 600px;
    color: ivory;
    font-size: 1.3rem;
    text-align: left;
    padding: 30px;
}
#start-screen div { margin-top: 30px; width: 600px; }
*/
